<select class="" aria-labelledby="listSelector" [(ngModel)]="selectedListId">
  <option *ngFor="let listHeader of listHeaders" class="" [value]="listHeader.id">{{listHeader.name}}</option>
</select>

<nav class="nav-link">
  <a class="btn btn-primary btn-sm" (click)="navigateToEdit()">Edit</a>
</nav>
<nav class="nav-link">
  <a class="btn btn-primary btn-sm" (click)="navigateToShop()">Shop !</a>
</nav>

<div>
TODO :
<ul>
  <li>Rework the workflow in order to 1st select the action (ie edit or shop), and then display the lists to select the one to process<br>
  At first, there must be only 2 buttons displayed (edit/shop)<br>
  Then when one of them is clicked, a list of the shopping list is displayed (not in a select, but each one directly as a button clickable)<br>
  And when a list button is clicked, go to the page corresponding to the action selected, with the list selected
  </li>
  <li>And if the action selected is 'edit', add a button to create a new shopping list at the end of the list</li>
  <li>See how we can delete an existing list (and when we can allow this supression)</li>
</ul>
</div>
